spring:
  config:
    activate:
      on-profile: local

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate

  flyway:
    locations: classpath:db/migration,classpath:db/migration-local

  data:
    redis:
      host: ${SPRING_DATA_REDIS_HOST}
      port: ${SPRING_DATA_REDIS_PORT}

server:
  port: 8080

logging.level.org.hibernate.sql: debug

swagger:
  server-url: http://localhost:8080

aws:
  credentials:
    access-key: ${IAM_ACCESS_KEY}
    secret-key: ${IAM_SECRET_KEY}
  region: ap-northeast-2
  s3:
    upload-image-bucket: ${UPLOAD_IMAGE_BUCKET_NAME}
    dex-image-bucket: ${DEX_IMAGE_BUCKET_NAME}
  cloudfront:
    upload-image-domain: ${UPLOAD_IMAGE_DOMAIN}
    dex-image-domain: ${DEX_IMAGE_DOMAIN}
#  kms:
#    key-id:

apple:
  client-id: ${APPLE_CLIENT_ID}
  team-id: ${APPLE_TEAM_ID}
  key-id: ${APPLE_KEY_ID}
  private-key: ${APPLE_PRIVATE_KEY}

kakao:
  client-id: ${KAKAO_CLIENT_ID}
  redirect-uri: ${KAKAO_REDIRECT_URI}
  client-secret: ${KAKAO_CLIENT_SECRET}
  admin-key: ${KAKAO_ADMIN_KEY}
  app-id: ${KAKAO_APP_ID}

oauth:
  kakao:
    redirect-routing:
      default-redirect-uri: ${KAKAO_REDIRECT_URI}
      channels:
        admin: ${KAKAO_REDIRECT_URI_ADMIN}

app:
  cookie:
    secure: false

cors:
  allowed-origins: []