services:
  app:
    image: ghcr.io/devkor-github/saerok-be:dev-latest
    container_name: saerok-dev
    restart: unless-stopped
    stop_grace_period: 15s
    ports: ["8080:8080"]

    # t2.micro 안전 제한
    cpus: "0.75"
    mem_limit: "700m"

    environment:
      SPRING_PROFILES_ACTIVE: "dev"
      JAVA_OPTS: >-
        -Duser.timezone=Asia/Seoul
        -XX:MaxRAMPercentage=60
        -XX:+ExitOnOutOfMemoryError
